<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{{ WEB_ROOT }}/favicon.ico">

	<title>{{ page_title }}</title>

	<link href="{{ WEB_ROOT }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	{# <link href="{{ WEB_ROOT }}/css/admin.css" rel="stylesheet" type="text/css"> #}
	{% block additional_links %}{% endblock %}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript"></script>
	<![endif]-->
</head>

<body role="document">
<div id="gray_cover"></div>
<div class="page-content theme-showcase" role="main">
	{% include content_template %}
</div>


<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages loads faster -->
<script src="{{ WEB_ROOT }}/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="{{ WEB_ROOT }}/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ WEB_ROOT }}/lib/bootstrap/js/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
{# <script src="{{ WEB_ROOT }}/js/admin-script.js" type="text/javascript"></script> #}
{% block additional_scripts %}{% endblock %}
</body>
</html>
