<div>
	<div style="margin: 0 auto; display: table;">
		<form id="the_form" action="" method="POST">
			<table>
				<tr>
					<td colspan="2" style="text-align: center;"><label for="the_form">Login</label></td>
				</tr>
				<tr>
					<td style="padding-right: 6px"><label for="username">User Name</label></td>
					<td><input type="text" name="username" id="username" autocapitalize="off" autocorrect="off" /></td>
				</tr>
				<tr>
					<td><label for="password">Password</label></td>
					<td><input type="password" name="password" id="password" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit_login" value="Login" onclick="saveOrCancelClicked=true;" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
